.subscribe-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px dotted darkcyan;
    flex-direction: column;
}

.modal-subscribe-content {
    background-color: #F4E3B6;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-subscribe-button {
    background-color: transparent;
    border: none;
    color: #121111;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.subscription-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-box,
.email-box,
.password-box {
    height: 40px;
    width: 400px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.subscription-box {
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.error-message {
    color: #121111;
    font-size: 20px;
    margin-top: 5px;
}

.subscribe-modal.subscribed {
    /* Add styles here for the subscription box when subscribed */
    /* For example: */
    background-color: green;
}

.subscription-box.subscribed {
    /* Add styles here for the button when subscribed */
    /* For example: */
    background-color: #b59b2a;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}



