.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*border: 2px dotted greenyellow;*/
}

.spinner-border {
    position: relative;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
