.admin-link {
    color: white;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease;
}

.admin-link:hover {
    color: #F4E3B6;
}

.admin-link:hover + .admin-tooltip {
    opacity: 1;
    visibility: visible;
}