.background-container {
    background-color: #FAF8E7;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ol {
    gap: 20px;
    list-style-type: none;
    color: #121111;
    padding-left: 20px;
}

.list-items{
    padding: 25px;

}

.position-button{
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: 15px;
}

.button-logout {
    font-size: 16px;
    background-color: #121111;
    color: #F4E3B6;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    border-color: #121111;
    border-radius: 50%;
}