/*.background-container {*/
/*    background-color: #FAF8E7;*/
/*    margin-top: 35px;*/
/*    margin-bottom: 35px;*/
/*    font-family: 'Inter', sans-serif;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*}*/

/*ol {*/
/*    gap: 20px;*/
/*    list-style-type: none;*/
/*    color: #121111;*/
/*    padding-left: 20px;*/
/*}*/

/*.list-items{*/
/*    padding: 25px;*/

/*}*/

.background-container {
    background-color: #FAF8E7;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: changeBackgroundColor 20s infinite;
}

/* Define the keyframes */
@keyframes changeBackgroundColor {
    0% {
        background-color: #FAF8E7;
    }
    30% {
        background-color: lightgoldenrodyellow;
    }
    50% {
        background-color: lightyellow;
    }
    75% {
        background-color: lightgoldenrodyellow;
    }
    90% {
        background-color: #F4E3B6;
    }
}

/*.position-button{*/
/*    margin-left: auto;*/
/*    margin-bottom: 15px;*/
/*    margin-right: 15px;*/
/*}*/

/*.button-logout {*/
/*    font-size: 16px;*/
/*    background-color: #121111;*/
/*    color: #F4E3B6;*/
/*    font-family: 'Inter', sans-serif;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-color: #121111;*/
/*    border-radius: 50%;*/
/*}*/