.background-container {
    background-color: #FAF8E7;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: changeBackgroundColor 20s infinite;
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #FAF8E7;
    }
    30% {
        background-color: lightgoldenrodyellow;
    }
    50% {
        background-color: lightyellow;
    }
    75% {
        background-color: lightgoldenrodyellow;
    }
    90% {
        background-color: #F4E3B6;
    }
}

.position-button-our-sounds {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-left: auto;
    padding: 50px;
}

.button-logout-our-sounds {
    font-size: 16px;
    background-color: #121111;
    color: #F4E3B6;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-color: #121111;
    border-radius: 50%;
}