@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Playfair:wght@300&display=swap');

/*
    KLEUR WIT RAND IS: #F5F5F5;
    KLEUR SOUL SOUNDS: #F4E3B6;
    KLEUR ONDERSCHRIFT: #B89437;
    KLEUR WIT TEKST: #FFFFFF;
    KLEUR ZWART ACHTERGROND: #121111;
    KLEUR BUTTONS ETC: #F4E3B6*
    KLEUR INVOERVELDEN TOP 10:#FAF8E7;
    KLEUR 'SEARCH': #B89437;
    KLEUR BALK SEARCH: #F5F5F5;
    KLEUR TEKST ZWART: #000000;
*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-head-container {
    margin-bottom: 25px;
}

.header-container {
    margin-left: 75px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.brand-name {
    text-transform: uppercase;
    font-size: 40px;
    color: #F4E3B6;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 16px;
    color:#B89437;
    /*color: #DCB66C;*/
    letter-spacing: 4px;
}

.nav-links-container {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 55px;
    margin-right: 75px;
}

/*.nav-links-container .active {*/
/*    border-bottom: 2px solid #F4E3B6;*/
/*}*/

.nav-links-container a {
    padding: 5px;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.nav-links-container a.active::after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}




