@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Playfair:wght@300&display=swap');

h1,h2,h3,h4 {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* staat boven aan de lijst met styling */

a,
a:hover,
a:visited {
  text-decoration: none;
  color: white;
}

h1,h2,h3,h4 {
  font-family: 'Inter', sans-serif;
}

/* alle ander css komt hier onder */