.image-element-gl {
    background-image: url("../../assets/vierkantGil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    min-height: 90vh;
    position: relative;
    flex-basis: auto;
}

.about-us {
    text-align: center;
}

.position-text-and-rest {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-top: 50px;
}

.about-us .yes {
    font-size: 18px;
    margin: 80px 0 80px 0;
}

.about-us .inspire {
    margin: 150px 0 130px 0;
    font-size: 30px;
    font-weight: bolder;
}